<%- include("templates/header") %>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .tooltip-btn {
    position: relative;
    margin-left: 5px;
  }

  .tooltip-btn i {
    font-size: 16px;
    color: #999;
    cursor: pointer;
    margin-left: 5px;
  }

  .tooltip-text {
    position: absolute;
    width: 180px;
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    visibility: hidden;
    transition: opacity 0.3s;
    bottom: 100%;
    left: -50px;
    transform: translateX(-50%);
    margin-bottom: 8px;
    opacity: 0.5;
  }

  .show {
    visibility: visible;
    opacity: 1;
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .smaller-button {
    font-size: 16px;
    padding: 12px 24px;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* Added */
  }

  /* Added */
  .spinner {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border: 4px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    visibility: hidden;
  }
  .btn.ckick{
      background-color: #468414;
   color: white;
    border-color: #468414;
  }
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .spinner.show {
    visibility: visible;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">

      <h3>Please choose the customization method:</h3>
      <br>
      <br>
      <div>
        <form method="post" action="/customizedByCookingTimeSubmit">
          <div class="form-group">
            <button type="text" id="recipeId" name="recipeId" value="<%=recipe._id %>"
              class="btn btn-block mt-10 mb-0 rounded-pill smaller-button">
              Make this quicker!
              <span class="spinner"></span> <!-- Added -->
            </button>
            <span class="tooltip-btn">
              <i class="fas fa-question-circle"></i>
              <span class="tooltip-text">Click here to modify the recipe and make it quicker. Save time and enjoy your meal sooner.</span>
            </span>
          </div>
        </form>
        <br>
        <br>
        <div>
          <form action="/customizedBySkillLevelSubmit" method="POST">
            <div class="form-group">
              <button type="text" id="recipeId" name="recipeId" value="<%=recipe._id %>"
                class="btn btn-block mt-10 mb-0 rounded-pill smaller-button">
                Make this easier!
                <span class="spinner"></span> <!-- Added -->
              </button>
              <span class="tooltip-btn">
                <i class="fas fa-question-circle"></i>
                <span class="tooltip-text">Click here to modify the recipe and make it easier. Simplify the steps or ingredients to streamline your cooking process.</span>
              </span>
            </div>
          </form>
        </div>
        <br>
        <br>
        <form method="post" action="/customizedByPrice">
          <div class="form-group">
            <button type="text" id="recipeId" name="recipeId" value="<%=recipe._id %>"
              class="btn btn-block mt-10 mb-0 rounded-pill smaller-button">
              Make this cheaper!
              <span class="spinner"></span> <!-- Added -->
            </button>
            <span class="tooltip-btn">
              <i class="fas fa-question-circle"></i>
              <span class="tooltip-text">Click here to modify the recipe and make it easier. Discover budget-friendly alternatives for this recipe.</span>
            </span>
          </div>
        </form>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var tooltipBtns = document.querySelectorAll(".tooltip-btn");

          tooltipBtns.forEach(function (tooltipBtn) {
            var tooltipText = tooltipBtn.querySelector(".tooltip-text");

            tooltipBtn.addEventListener("click", function (event) {
              event.stopPropagation();
              tooltipText.classList.toggle("show");
            });

            document.addEventListener("click", function (event) {
              tooltipText.classList.remove("show");
            });
          });

          var buttons = document.querySelectorAll(".smaller-button");

          buttons.forEach(function (button) {
            button.addEventListener("click", function () {
              button.style.backgroundColor = "#468414";
              button.style.color = "white";
          
              
              var spinner = button.querySelector(".spinner");
              spinner.classList.add("show");
              
            
            });
          });
        });
      </script>


<%- include("templates/footer") %>
 