<%- include("templates/header") %> 
<style>
.card-img-container {
  width: 40%;
  float: right;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-body-recipeResults {
  width: 60%;
  float: right;
}

.card {
  height: auto;
  display: block;
  background-color:#eaf6df
}

.card-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
}

.card-spec {
  width: 100%;
}
.recipe-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
</style>

<div class="container">
      <h3><%= user.username %>'s Favorite Recipes:</h3>
      <br>
  <div class="row">
    <% favoritedRecipes.forEach((recipe, index) => { %>
      <div class="col-md-12 mb-3 recipe-card">
        <div class="card">
          <h5 class="card-title"><%= recipe.Name %></h5>
          <div class="card-img-container">
          <img src="<%= recipe.Image_Link %>" alt="<%= recipe.Name %>" class="card-img">
          </div>
          <div class="card-body-recipeResults">

      <p class="card-text"><%= recipe.UpdatedRecipeIngredientParts %></p>
      <form action="/generateMeasureUnits" method="POST">
        <div class="form-group">
          <button type="text" class="btn btn-primary" id="recipeID" name="recipeID" value="<%= recipe._id %>">View Recipe</button>
        </div>
      </form>
    </div>
        </div>
      </div>
      <% if ((index + 1) % 3 === 0) { %>
        </div>
        <div class="row">
      <% } %>
    <% }); %>
  </div>
</div>
<%- include("templates/footer") %>