<%- include("templates/header") %>
<!-- add jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- add bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<br><br><br>
<div class="container">
    <!-- space for profile picture -->
    <div class="container">
        <div class=" row d-flex justify-content-center">
            <img src="/images/profile.png" alt="profile picture" width="200px">
        </div>
    </div><br>
    <!-- Edit Profile Table -->
    <div class="row d-flex justify-content-center">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>
                        <%= user[0].username %>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>
                        <%= user[0].email %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <style>
        .btn-custom {
            width: 150px;
        }
        .btn-custom-password {
            width: 250px;
        }
        .btn-custom-edit {
            width: 200px;
        }
    </style>
    <!-- Edit profile button -->
    <div class="text-center">
        <button type="button" class="btn btn-info btn-lg rounded-pill btn-custom-edit btn-custom-password" data-toggle="modal" data-target="#editProfileModal">
            Edit Profile
        </button>
    </div><br><br>
    <!-- Edit profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/editProfile">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= user[0].username %>">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="<%= user[0].email %>">
                        </div>
                        <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom-edit">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Button -->
    <div class="text-center">
        <button type="button" class="btn btn-info btn-lg rounded-pill btn-custom-password" data-toggle="modal" data-target="#changePasswordModal">
            Change Password
        </button>
    </div><br><br>
    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/changePassword">
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                required>
                        </div>
                        <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("templates/footer") %>