<%- include("templates/header") %>
<!-- add jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- add bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<% if (error) { %>
    <script>
        // Display error message as a Bootstrap modal when the page loads
        $(document).ready(function() {
            $('#errorModal').modal('show');
            // Remove the error message from the URL
            window.history.pushState("", document.title, window.location.pathname);

        });
    </script>
<% } %>

<% if (success) { %>
    <script>
        // Display success message as a Bootstrap modal when the page loads
        $(document).ready(function() {
            $('#successModal').modal('show');
            // Remove the success message from the URL
            window.history.pushState("", document.title, window.location.pathname);
        });
    </script>
<% } %>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= error %> <!-- Display the error message here -->
            </div>
        </div>
    </div>
</div>

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= success %> <!-- Display the success message here -->
            </div>
        </div>
    </div>
</div>


<br><br><br>
<div class="container">
    <!-- space for profile picture -->
    <div class="container">
        <div class=" row d-flex justify-content-center">
            <img src="/images/profile.png" alt="profile picture" width="200px">
        </div>
    </div><br>
    <!-- Edit Profile Table -->
    
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>
                        <%= user[0].username %>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>
                        <%= user[0].email %>
                    </td>
                </tr>
            </tbody>
        </table>
    
    <style>
        .btn-custom {
            width: 150px;
        }
        .btn-custom-password {
            width: 250px;
        }
        .btn-custom-edit {
            width: 200px;
        }
        .btn-custom-question {
            width: 300px;
        }
        .pop-up {
            margin-top: 150px;
        }
        body {
            color: #468414;
            ;
        }
    </style>
    <!-- Edit profile button -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-custom-edit btn-block mb-4 mb-0 mt-6 rounded-pill" data-toggle="modal" data-target="#editProfileModal">
            Edit Profile
        </button>
    </div><br><br>
    <!-- Edit profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content pop-up">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/editProfile">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= user[0].username %>">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="<%= user[0].email %>">
                        </div>
                        <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom-edit green">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Skill level table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cooking type</th>
                <th scope="col">Skill level</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Cooking</th>
                <td>
                    <% if (user[0].cookingSkill) { %>
                        <%= user[0].cookingSkill %>
                    <% } else { %>
                        Not Set
                    <% } %>
                </td>
            </tr>
            <tr>
                <th scope="row">Baking</th>
                <td>
                    <% if (user[0].bakingSkill) { %>
                        <%= user[0].bakingSkill %>
                    <% } else { %>
                        Not Set
                    <% } %>
                </td>
            </tr>
        </tbody>
    </table><br>
    <!-- Change Cooking and Baking Skill Level Button -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-custom-edit btn-block mb-4 mb-0 mt-6 rounded-pill" data-toggle="modal"
            data-target="#changeSkillLevelModal">
            Edit Skill Level
        </button>
    </div><br><br>
    
    <!-- Change Cooking and Baking Skill Level Modal -->
    <div class="modal fade" id="changeSkillLevelModal" tabindex="-1" role="dialog"
        aria-labelledby="changeSkillLevelModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content pop-up">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeSkillLevelModalLabel">Edit Skill Level</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/editSkillLevel">
                        <div class="form-group">
                            <label for="cookingSkillLevel">Cooking Skill Level:</label>
                            <select class="form-control" id="cookingSkillLevel" name="cookingSkillLevel">
                                <option value="beginner" <% if (user[0].cookingSkill === 'beginner' || !user[0].cookingSkill) { %> selected <% } %>>Beginner</option>
                                <option value="intermediate" <% if (user[0].cookingSkill === 'intermediate') { %> selected <% } %>>Intermediate</option>
                                <option value="expert" <% if (user[0].cookingSkill === 'expert') { %> selected <% } %>>Expert</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="bakingSkillLevel">Baking Skill Level:</label>
                            <select class="form-control" id="bakingSkillLevel" name="bakingSkillLevel">
                                <option value="beginner" <% if (user[0].bakingSkill === 'beginner' || !user[0].bakingSkill) { %> selected <% } %>>Beginner</option>
                                <option value="intermediate" <% if (user[0].bakingSkill === 'intermediate') { %> selected <% } %>>Intermediate</option>
                                <option value="expert" <% if (user[0].bakingSkill === 'expert') { %> selected <% } %>>Expert</option>
                            </select>
                        </div>
                        <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom-edit green">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Ingredients Table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ingredients</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if (user[0].UserIngredients && user[0].UserIngredients.length > 0) { %>
                <% user[0].UserIngredients.forEach(function(ingredient) { %>
                    <tr>
                        <td><%= ingredient %></td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm edit-ingredient-btn" value="<%= ingredient %>">Edit</button>
                            <button type="button" class="btn btn-danger btn-sm remove-ingredient-btn" value="<%= ingredient %>">Remove</button>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="2">No ingredients added.</td>
                </tr>
            <% } %>
        </tbody>
    </table><br>

    <!-- Add Ingredient Button -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-custom-edit btn-block mb-4 mb-0 mt-6 rounded-pill" data-toggle="modal" data-target="#addIngredientModal">
            Add Ingredient
        </button>
    </div><br><br>

    <!-- Add Ingredient Modal -->
    <div class="modal fade " id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="addIngredientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content pop-up">
                <div class="modal-header">
                    <h5 class="modal-title" id="addIngredientModalLabel">Add Ingredient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addIngredientForm">
                        <div class="form-group">
                            <label for="ingredientName">Ingredient Name:</label>
                            <input type="text" class="form-control" id="ingredientName" name="ingredientName" required>
                        </div>
                        <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom-edit green">Add Ingredient</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Ingredient Modal -->
    <div class="modal fade" id="editIngredientModal" tabindex="-1" role="dialog" aria-labelledby="editIngredientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content pop-up">
                <div class="modal-header">
                    <h5 class="modal-title" id="editIngredientModalLabel">Edit Ingredient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editIngredientForm">
                        <input type="hidden" id="oldIngredient" name="oldIngredient">
                        <div class="form-group">
                            <label for="newIngredientName">New Ingredient Name:</label>
                            <input type="text" class="form-control" id="newIngredientName" name="newIngredientName" required>
                        </div>
                        <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom-edit green">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Dietary Restriction</th>
                <td>
                    <%= user[0].DietaryRestriction %>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Change Dietary Restriction Button -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-custom-edit btn-block mb-4 mb-0 mt-6 rounded-pill" data-toggle="modal"
            data-target="#changeDietaryRestrictionModal">
            Edit Dietary Restriction
        </button>
    </div><br>

    <!-- Dietary Restriction Modal -->
    <div class="modal fade" id="changeDietaryRestrictionModal" tabindex="-1" role="dialog"
        aria-labelledby="changeDietaryRestrictionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content pop-up">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeDietaryRestrictionModalLabel">Edit Dietary Restriction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/editDietaryRestriction">
                        <div class="form-group">
                            <label for="DietaryRestriction">Dietary Restriction:</label>
                            <select class="form-control" id="DietaryRestriction" name="DietaryRestriction">
                                <option value="none" <% if (user[0].DietaryRestriction === 'none' || !user[0].DietaryRestriction) { %> selected <% } %>>None</option>
                                <option value="vegetarian" <% if (user[0].DietaryRestriction === 'vegetarian') { %> selected <% } %>>Vegetarian</option>
                                <option value="vegan" <% if (user[0].DietaryRestriction === 'vegan') { %> selected <% } %>>Vegan</option>
                                <option value="dairy-free" <% if (user[0].DietaryRestriction === 'dairy-free') { %> selected <% } %>>Dairy-Free</option>
                                <option value="gluten-free" <% if (user[0].DietaryRestriction === 'gluten-free') { %> selected <% } %>>Gluten-Free</option>
                            </select>
                        </div>
                        <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom-edit green">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form action="/resetToDefault" method="post">
        <div style="display: flex; justify-content: center; align-items: center;">
            <button id="resetToDefault" type="submit" class="btn btn-custom-question mb-4 mb-0 mt-6 rounded-pill">Reset all Fields to Default</button>
        </div>
    </form><br><br><br><br>

    <!-- edit security question -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-custom-question mb-4 mb-0 mt-6 rounded-pill" data-toggle="modal"
            data-target="#changeSecurityQuestionModal">
            Update Security Question
        </button>
    </div><br>
    
    <!-- Change Security Question Modal -->
    <div class="modal fade" id="changeSecurityQuestionModal" tabindex="-1" role="dialog"
        aria-labelledby="changeSecurityQuestionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content pop-up">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeSecurityQuestionModalLabel">Update Security Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/editSecretQuestion">
                        <div class="form-group">
                            <label for="secretQuestion">Select a security question:</label>
                            <select name='secretQuestion' class="form-control" id="secretQuestion">
                                <option value="What is your mother' s maiden name?">What is your mother's maiden name?</option>
                                <option value='What was the name of your first pet?'>What was the name of your first pet?</option>
                                <option value='What is your favorite color?'>What is your favorite color?</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="secretAnswer">Answer:</label>
                            <input name='secretAnswer' type='text' class="form-control" id="secretAnswer" placeholder='Enter answer' required>
                        </div>
                        <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom-edit green">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Change Password Button -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-custom-edit mb-4 mb-0 mt-6 rounded-pill" data-toggle="modal" data-target="#changePasswordModal">
            Reset Password
        </button>
    </div><br>
    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content pop-up">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Reset Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/changePassword">
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                required>
                        </div>
                        <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom green">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center;">
        <button id="logout" type="submit" class="btn btn-custom mb-4 mb-0 mt-6 rounded-pill">Logout</button>
    </div>

</div><br><br><br>

<!-- Add Ingredient Script -->
<script>
    $(document).ready(function() {
        // Add Ingredient Form Submission
        $("#addIngredientForm").submit(function(event) {
            event.preventDefault();
            var ingredient = $("#ingredientName").val();
            if (ingredient.trim() === "") {
                alert("Please enter an ingredient.");
                return;
            }
            $.ajax({
                url: "/addIngredient",
                type: "POST",
                data: { ingredient: ingredient },
                success: function(response) {
                    // Clear the input field
                    $("#ingredientName").val("");
                    // Close the modal
                    $("#addIngredientModal").modal("hide");
                    // Refresh the page or update the ingredient list dynamically
                    location.reload();
                },
                error: function(error) {
                    console.log(error);
                    alert("An error occurred while adding the ingredient. Please try again.");
                }
            });
        });
    });
</script>
<!-- Edit Ingredient Script -->
<script>
    $(document).ready(function() {
        // Edit Ingredient Form Submission
        $("#editIngredientForm").submit(function(event) {
            event.preventDefault();
            var oldIngredient = $("#oldIngredient").val();
            var newIngredientName = $("#newIngredientName").val();
            if (newIngredientName.trim() === "") {
                alert("Please enter a new ingredient name.");
                return;
            }
            $.ajax({
                url: "/editIngredient",
                type: "POST",
                data: {
                    oldIngredient: oldIngredient,
                    newIngredientName: newIngredientName
                },
                success: function(response) {
                    // Close the modal
                    $("#editIngredientModal").modal("hide");
                    // Refresh the page or update the ingredient list dynamically
                    location.reload();
                },
                error: function(error) {
                    console.log(error);
                    alert("An error occurred while editing the ingredient. Please try again.");
                }
            });
        });

        // Edit Ingredient Modal Open
        $(".edit-ingredient-btn").click(function() {
            var oldIngredient = $(this).val();
            $("#oldIngredient").val(oldIngredient);
            $("#newIngredientName").val(oldIngredient);
            $("#editIngredientModal").modal("show");
        });
    });
</script>
<!-- Remove Ingredient Script -->
<script>
    $(document).ready(function() {
        // Remove Ingredient
        $(".remove-ingredient-btn").click(function() {
            // get the value of the remove-ingredient-btn
            var ingredient = $(this).val();
            if (confirm("Are you sure you want to remove the ingredient: " + ingredient + "?")) {
                $.ajax({
                    url: "/removeIngredient",
                    type: "POST",
                    data: { ingredient: ingredient },
                    success: function(response) {
                        // Refresh the page or update the ingredient list dynamically
                        location.reload();
                    },
                    error: function(error) {
                        console.log(error);
                        alert("An error occurred while removing the ingredient. Please try again.");
                    }
                });
            }
        });
    });
</script>
<!-- Reset all fields to default script -->
<script>
    $(document).ready(function() {
        // Remove Ingredient
        $("#resetToDefault").click(function() {
            var ingredient = $(this).val();
            if (confirm("Are you sure you want to reset all fields?")) {
                $.ajax({
                    url: "/resetToDefault",
                    type: "POST",
                    success: function(response) {
                        // Refresh the page
                        location.reload();
                    },
                    error: function(error) {
                        console.log(error);
                        alert("An error occurred while reseting the default fields. Please try again.");
                    }
                });
            }
        });
    });
</script>
<!-- Logout Script -->
<script>
    $(document).ready(function() {
        // Logout
        $("#logout").click(function() {
            if (confirm("Are you sure you want to logout?")) {
                $.ajax({
                    url: "/logout",
                    type: "GET",
                    success: function(response) {
                        // Refresh the page
                        location.reload();
                    },
                    error: function(error) {
                        console.log(error);
                        alert("An error occurred while removing the ingredient. Please try again.");
                    }
                });
            }
        });
    });
</script>


<%- include("templates/footer") %>