<%- include("templates/header") %> 

<div class="container">
    <div class="row">
        <% customizedRecipes.forEach((recipe, index)=> { %>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/images/logo.png" alt="<%= recipe[0] %>" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= recipe[0] %>
                        </h5>
                        <form action="/viewCustomizedRecipe" method="post">
                            <input type="hidden" name="title" value="<%= JSON.stringify(recipe[0]) %>">
                            <input type="hidden" name="ingredients" value="<%= JSON.stringify(recipe[1]) %>">
                            <input type="hidden" name="instructions" value="<%= JSON.stringify(recipe[2]) %>">
                            <button type="submit" class="btn btn-primary">View Recipe</button>
                        </form>
                    </div>
                </div>
            </div>
            <% if ((index + 1) % 3 === 0) { %>
                </div>
                <div class="row">
            <% } %>
        <% }); %>
    </div>
</div><br><br>

<%- include("templates/footer") %>