<%- include("templates/header") %>
<!-- add jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- add bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    .btn-custom-password {
            width: 250px;
    }
    .btn-custom-edit {
            width: 200px;
    }
    .btn-custom-search {
            width: 150px;
    }
</style>


<!-- Ingredients Table -->

<div class="container">
    <div class="text-center">
        <h4>Search by Ingredients</h4>
    </div>
    
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ingredients</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if (user[0].SearchIngredients && user[0].SearchIngredients != user[0].UserIngredients) { %>
                <% user[0].SearchIngredients.forEach(function(ingredient) { %>
                    <tr>
                        <td><%= ingredient %></td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm edit-ingredient-btn" value="<%= ingredient %>">Edit</button>
                            <button type="button" class="btn btn-danger btn-sm remove-ingredient-btn" value="<%= ingredient %>">Remove</button>
                        </td>
                    </tr>
                <% }); %>
            <% } else if (user[0].UserIngredients && user[0].UserIngredients == user[0].UserIngredients) { %>
                <% user[0].UserIngredients.forEach(function(ingredient) { %>
                    <tr>
                        <td><%= ingredient %></td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm edit-ingredient-btn" value="<%= ingredient %>">Edit</button>
                            <button type="button" class="btn btn-danger btn-sm remove-ingredient-btn" value="<%= ingredient %>">Remove</button>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="2">No ingredients added.</td>
                </tr>
            <% } %>
        </tbody>
    </table><br>
</div>

<!-- Add Ingredient Button -->
<div style="display: flex; justify-content: center; align-items: center;">
    <button type="button" class="btn btn-custom-edit btn-block mb-4 mb-0 mt-6 rounded-pill" data-toggle="modal" data-target="#addIngredientModal">
        Add Ingredient
    </button>
</div>

<!-- Add Ingredient Modal -->
<div class="modal fade container" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="addIngredientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addIngredientModalLabel">Add Ingredient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pop-up">
                <form id="addIngredientForm">
                    <div class="form-group">
                        <label for="ingredientName">Ingredient Name:</label>
                        <input type="text" class="form-control" id="ingredientName" name="ingredientName" required>
                    </div>
                    <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom-edit green">Add Ingredient</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Ingredient Modal -->
<div class="modal fade container" id="editIngredientModal" tabindex="-1" role="dialog" aria-labelledby="editIngredientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editIngredientModalLabel">Edit Ingredient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pop-up">
                <form id="editIngredientForm">
                    <input type="hidden" id="oldIngredient" name="oldIngredient">
                    <div class="form-group">
                        <label for="newIngredientName">New Ingredient Name:</label>
                        <input type="text" class="form-control" id="newIngredientName" name="newIngredientName" required>
                    </div>
                    <button type="submit" class="text-center btn btn-info btn-lg rounded-pill btn-custom-edit green">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div><br><br><br>

<!-- Search in the database -->
<div class="text-center">
    <h5>Search recipes that contain your ingredients:</h5><br>
</div>
<div class="text-center">
    <form action="/searchIngredientSubmit" method="POST">
        <div style="display: flex; justify-content: center; align-items: center;">
            <button type="submit" class="btn btn-custom-search mb-4 mb-0 mt-6 rounded-pill">Search</button>
        </div>
    </form>
</div><br><br>
<div class="text-center">
    <h5>OR</h5>
</div><br>
<!-- ask chat gbt to generat some recipes for us -->
<div class="text-center">
    <h5>Generate a customized recipe containing only your ingredients:</h5><br>
</div>
<div class="text-center">
    <form action="/generateIngredientSubmit" method="POST">
        <div style="display: flex; justify-content: center; align-items: center;">
            <button type="submit" class="btn btn-custom-search mb-4 mb-0 mt-6 rounded-pill">Generate</button>
        </div>
    </form>
</div><br><br><br><br>

<script src="/searchIngredients.js"></script>

<%- include("templates/footer") %>